RDNScoreboard/RDNScoreboard/Web References/com.rdnation.scoreboard/Scoreboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rdnation.com/Api/Scoreboard.asmx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.rdnation.com/Api/Scoreboard.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">RDNation Scoreboard API</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rdnation.com/Api/Scoreboard.asmx">
      <s:element name="CurrentBetaDetails">
        <s:complexType />
      </s:element>
      <s:element name="CurrentBetaDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentBetaDetailsResult" type="tns:BetaDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BetaDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CurrentVersion" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="InstallerWww" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Published" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="feedback" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFeedbackResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CurrentBetaDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:CurrentBetaDetails" />
  </wsdl:message>
  <wsdl:message name="CurrentBetaDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:CurrentBetaDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFeedback" />
  </wsdl:message>
  <wsdl:message name="SubmitFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="ScoreBoardSoap">
    <wsdl:operation name="CurrentBetaDetails">
      <wsdl:input message="tns:CurrentBetaDetailsSoapIn" />
      <wsdl:output message="tns:CurrentBetaDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedback">
      <wsdl:input message="tns:SubmitFeedbackSoapIn" />
      <wsdl:output message="tns:SubmitFeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScoreBoardSoap" type="tns:ScoreBoardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentBetaDetails">
      <soap:operation soapAction="http://www.rdnation.com/Api/Scoreboard.asmx/CurrentBetaDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedback">
      <soap:operation soapAction="http://www.rdnation.com/Api/Scoreboard.asmx/SubmitFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScoreBoardSoap12" type="tns:ScoreBoardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentBetaDetails">
      <soap12:operation soapAction="http://www.rdnation.com/Api/Scoreboard.asmx/CurrentBetaDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedback">
      <soap12:operation soapAction="http://www.rdnation.com/Api/Scoreboard.asmx/SubmitFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScoreBoard">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">RDNation Scoreboard API</wsdl:documentation>
    <wsdl:port name="ScoreBoardSoap" binding="tns:ScoreBoardSoap">
      <soap:address location="http://rdnation.com/Api/Scoreboard.asmx" />
    </wsdl:port>
    <wsdl:port name="ScoreBoardSoap12" binding="tns:ScoreBoardSoap12">
      <soap12:address location="http://rdnation.com/Api/Scoreboard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>